<h1>all articles list</h1>
<p><%=link_to "new article",new_article_path %></p>
<table class="table">
  <tr>
    <th>id</th>
  <th>title</th>
  <th>description</th>
    <th>created at</th>
    <th>updated at</th>
    <th>edit</th>
    <th>show</th>
    <th>delete</th></tr>
<%@articles.each do|f| %>
      <tr>
        <td><%= f.id%></td>
        <td><%= f.title%></td>
    <td><%= f.description%></td>
        <td><%= f.created_at%></td>
        <td><%= f.updated_at%></td>
        <td><%= link_to "edit", edit_article_path(f.id) %></td>
        <td><%= link_to "show", article_path(f.id) %></td>
        <td><%= link_to 'delete', article_path(f), method: :delete, data: {confirm:"are you sure"} %>
        </td>
      </tr>
<%end %>
  </table>